* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.755);
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("https://images.unsplash.com/photo-1511882150382-421056c89033?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGNhbnZhcyUyMGdhbWV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;

    
}
#source{
  height:200px;
  width:100px
}
canvas {
    margin-top: 10px;
    background-image: linear-gradient(skyblue,grey);
    border-radius: 10px;
    box-shadow:2px 2px 2px red;
  }
  
  #source {
    display: none;
  }