html{
    scroll-behavior: smooth;
}
.back{
    background-image: url(https://images.unsplash.com/photo-1520622016800-35815b5d88b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Ymx1ciUyMGdhbWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
}
.container li a{
     font-family: 'Dancing Script', cursive;
     
}

*{
    padding: 0px;
    margin: auto;
    box-sizing: border-box;
}
h1{
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}
header img{
    border-radius: 50%;
    height:100px;

}
header li{
    display: inline-flex;
    padding:20px;
    list-style:none ;
    font-size: 25px;
}
header li i{
    margin-right: 5px;
}
header ul{
    float:right;
    justify-content: right;
    list-style: none;
    margin-left: 20px;
}
header a{
    color:black;
    text-decoration: none;

}
header li:hover{
    background-color: white;

}
.container{
    max-width: 1200px;
    /* background-color: palevioletred; */
    border: 2px solid purple;
    margin: auto;
}
header{
    width:100%;
    height:15vh;
    /* background-color: palevioletred; */
    background-image: linear-gradient(purple,deeppink);
    /* text-align: center;
    line-height: 10vh; */
    /* position: fixed; */
    width:1200px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
article{
    /* background-color: aqua; */
    height: 85vh;
    margin-top: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
article img{
    height:85vh;
    width:100%;
    
}
.imgContainer{
    display: flex;
    justify-content: space-evenly;
    
}
.imgBox{
    height: 200px;
    width: 200px;
    background-color: orangered;
    border-radius: 50%;
    border:5px solid red
    
}

.imgBox img{
    height:200px;
    width:200px;
    border-radius: 50%;
}
main{
    height:500px;
    overflow: hidden;
    width: 50%;
    /* background-color: brown; */
    background-image: linear-gradient(purple,deeppink);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    

}
main h2{
    margin-left: 15px;
    font-family: 'Sacramento', cursive;
}
main p{
    padding: 20px;
    color:white;
    font-family: 'Yellowtail', cursive;
}
#sec2{
    display: flex;
}
aside{
    height:500px;
    overflow: hidden;
    width: 45%;
    margin-left: 40px;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;

}
aside>.box img{
    height: 150px;
    width: 100%;
}
aside>.box{
    height: 150px;
    /* background-color: antiquewhite; */
    width:100%;

}
.box:hover{
    transform: translate(10px);
}
.box{
    box-shadow: 5px 5px 2px 2px deeppink;
}
#sec3{
    display: flex;
}
.borderBox{
    height:400px;
    /* background-color: yellowgreen; */
    background-image: linear-gradient(deeppink,red);
    width:20vh;
    /* justify-content: space-around;
    flex-direction: row;
    display: flex; */
    width:25%;
    margin-right: 15px;
    margin-left: 10px;
border-top-left-radius: 25px;
border-bottom-right-radius: 12px;    
box-shadow: 2px 7px palevioletred;
    transition: 0.3s;
}
.borderBox h2{
    text-align: center;
    font-family: 'Sacramento', cursive;
}
.borderBox h3{
    margin-left: 10px;
    color: black;
}
.borderBox p{
    padding: 10px;
    color:white;
    font-family: 'Yellowtail', cursive;
}
.borderBox a{
    color:white;
    text-decoration: none;
}
.borderBox button{
    width: 100%;
    border-radius:5px;
    height:5vh;
    color: whitesmoke;
    /* background-color: red; */
    background-color: black;
    margin-top: -7px;
    margin-top: 28px;
}
.borderBox:hover{
    transform: scale(1.2);
}
.borderBox button:hover{
    background-color:purple ;
    color:white;
    color: black;
    cursor: pointer;
}
.borderBox img{
    width:100%;
    border-top-left-radius: 25px;
border-bottom-right-radius: 12px;
    height:150px;
}
footer{
    /* background-color: palevioletred; */
    background-image: linear-gradient(deeppink,purple);
    height:110vh;
    width: 100%;;
    border: 2px solid black;
}

/* .paragraphs .p1 p{
    color:white;
    width: 30%;
    padding: 10px;
}
.paragraphs h2{
    color:white;
    margin-left: 20px;
}
.paragraphs .p2,.p3,.p4 p{
    color:white;

    
    
}
.paragraphs{
    float:left;
} */
/* .paragraphs{
    width:100%;
} */
footer h1{
    margin-top: 10px;
}
.paragraphs{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 40px;

    border-top: 2px solid white;
}

.img3{
    overflow: hidden;
}
.img1{
    width: 300px;
    height:400px;
    flex: left;
    justify-content: left;
}
.paragraphs .img1{
    color:white;
    width:23%;
    float:left;
    padding: 5px;
    margin-top: 20px;
    /* margin-left: 20px;; */
}
/* .paragraphs ul{
    float:left;
    width:20%;
} */
.paragraphs .img2{
    margin-top: 25px;
}
.paragraphs .img3{
    margin-top: 25px;
}
.paragraphs .img4{
    margin-top: 25px;
}
.paragraphs .img4 h2{
    margin-left: 20px;
    font-family: 'Sacramento', cursive;

}
.paragraphs .img1 p{
    overflow: hidden;
    font-family: 'Yellowtail', cursive;
}
.paragraphs li{
    color:white;
    list-style: none;
    font-family: 'Yellowtail', cursive;
}
.paragraphs h2{
    color:white;
    font-family: 'Sacramento', cursive;
}
button:hover{
    background-color: goldenrod;
    
}

button a:hover{
    color:black
}
.Register{
    position: relative;
    height: 100px;
}
.Register h2{
    color:white;
    text-align: center;
    /* position: relative; */
    font-family: 'Sacramento', cursive;
    margin-top: 10px;

}
.Register button{
    padding: 10px;
    background-color: black;
    border-radius:7px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    /* margin-left: 50vh; */
    position: absolute;
    top:50px;
    color:white;
    font-family: 'Yellowtail', cursive;
    left:75vh;

}
.Register button:hover{
    background-color:deeppink
}
.Links{
    height:100px;
}
.circles{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 100px;
    
}
.circles .circle1,.circle2,.circle3,.circle4,.circle5{
    height:50px;
    width:50px;
    border-radius: 50%;
    /* border:2px solid white; */
    display: inline-flex;
    justify-content: space-evenly;
    margin-left: 15px;
}
.circles .circle1 i:hover{
    color:rgb(63, 63, 237)
}
.circles .circle2 i:hover{
    color:yellowgreen;
}
.circles .circle3 i:hover{
    color:blue
}
.circles .circle4 i:hover{
    color:gray;
}
.circles .circle5 i:hover{
    color:red;
}
.circles i{
    font-size: 50px;
    color:black
}
.Thankyou{
    height:100px;
    position: relative;
}
.Thankyou h2,h3{
    color:white;
    text-align: center;
    margin-top: 10px;
    font-family: 'Sacramento', cursive;
    

}
.Thankyou a{
    text-decoration:underline;
    color: black;
}
.Thankyou a h3{
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-family: 'Yellowtail', cursive;

}
/* .sticky{
    position: sticky;
} */

.sticky i{
    font-size: 40px;
    margin-right: 5px;
    color:red;
    background-color: white;
    position: absolute;
    right:0
}

/* @media screen and(max-width:952px){ */
    /* .container{
        max-width: 2490px;
    }
    header li{
        padding-left: 20px
        
    }
    header {
        width:100%;
    }
    article img{
        width: 100%;;
    }
    #sec2 main{
        margin-left: 25px;
    } 
    .borderBox{
        width: 18vh;
    } */
    /* header li a{
        color:red;
    }
} */

@media(max-width:669px){
    footer .paragraphs .img1 p{
        overflow: hidden;
    }
}